<h3>Wishlist our game!</h3>

<form *ngIf="!hasWishlisted" [formGroup]="wishlistForm" (ngSubmit)="onSubmit()">
  <div class="input-group">
    <label class="input-group-text text-black">Email:</label>
    <input class="form-control" type="text" formControlName="email">
    <button class="btn btn-secondary" [disabled]="!wishlistForm.valid || !wishlistForm.touched">Submit</button>
  </div>
  <div *ngIf="wishlistForm.controls['email'].invalid && !wishlistForm.pristine">
    <p class="text-danger">Please Enter A Valid Email</p>
  </div>
</form>

<pre>Is Valid: {{ wishlistForm.valid | json }}</pre>