/* You can add global styles to this file, and also import other style files */

/*
Midnight Green - #003638
Atomic Tangerine - #F2A183
White - #FFFFFF
 */


$body-bg-dark: #003638;
$body-tertiary-bg-dark: #F2A183;
$body-emphasis-color-dark: #000000;
$primary: #F2A183;

@import '../node_modules/bootstrap/scss/bootstrap';