<div class="container text-center gy-4">
  <div class="row row-cols-1 gy-4">
    <div class="col">
      <h1>{{ game.title }}</h1>
    </div>
    <div class="col">
      <img [src]="game.image" [alt]="game.shortDescription" class="w-75">
    </div>
    <div class="col">
      <a [routerLink]="['/games', game.gameId]" class="btn btn-primary">Buy now on Steam!</a>
    </div>

  </div>
</div>
<app-callout>{{ game.description }}</app-callout>

<div class="container text-center">
  <div class="row">
    <div *ngFor="let feature of game.features" class="col">
      <div class="card">
        <img [src]="feature.image" class="card-img-top" alt="placeholder">
        <div class="card-body">
          <h5 class="card-title">{{ feature.name }}</h5>
          <p class="card-text">{{ feature.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<app-callout>
  <app-wishlist [gameId]="id"></app-wishlist>
</app-callout>







<pre>{{ id }}</pre>
<pre>{{ game | json }}</pre>