<!-- logo -->
<div class="row">
  <div class="col d-flex justify-content-center">
    <img class="mt-4" src="/assests/images/SmashGamesLogo.png" alt="">
  </div>
</div>

<!-- mission statement -->
<div class="row">
  <div class="col">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde impedit nulla quibusdam laudantium, rerum,
      provident quos labore incidunt quas nisi fugit? Nihil facilis, quibusdam eveniet expedita corporis aliquid dolorum
      totam. </p>
  </div>
</div>

<app-card-list [cardList]="games"></app-card-list>

<!-- <pre>{{ games | async | json }}</pre> -->
<!-- deck of cards of games -->